body {
font-family: 'Roboto Condensed', sans-serif;

}

/*Navbar*/

.nav-item {
    letter-spacing: .2em;
    font-size: 14px;
    text-transform: uppercase;
}

.top_nav {
    height: 20px;
    line-height: 50px
    width:70%;
}

.top-menu-bar {
    text-align: left !important;
   margin-right:30px;
   padding-top:1.5%;


}

.top-menu-bar ul li {
    list-style: None;
    color: #FFA500;
    text-transform: uppercase;
    letter-spacing: .2am;
    font-size: 12px;
    padding-left: 10px;
    display: inline;
    text-align: left;

}

.top-menu-bar ul li a {
    text-decoration: None;
    list-style: None;
    color: #000;
    text-transform: uppercase;
    letter-spacing: .2am;
    font-size: 12px;
        text-align: left;

}

.dropdown-item {
    font-size: 14px;
    letter-spacing: .2em;
    text-transform: uppercase;

}

/*footer*/
.my_footer {
    background-color: #f8f9fa;
    height: 60px
}

.my_footer p {
    padding-top: 20px;
    font-size: 14px;

}

/*category page*/
.my_row {
    padding-top: 15px;
}

.my_row .mx-auto p {
    color: #000;
    font-size: 12px;
}

.my_row .mx-auto p a {
    color: #000;
    font-size: 12px;
    text-decoration: None;
}

.cat_image {
    width: 100%;
    height: auto;
}

.title {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.cat_image_padding {
    padding-top: 5px;
}

.my_bottom_margin {
    margin-bottom: 10px;

}

.card-body h4 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .2em;
}

/*Product Page*/
.my_prod_row_class {
    padding-top: 15px;
    padding-bottom: 20px;

}

.my_prod_row_class .mx-auto p {
    color: #000;
    font-size: 20px;
}

.my_prod_row_class .mx-auto p a {
    color: #000;
    font-size: 16px;
    text-decoration: None;
}

.product_title {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding-top: 15px;
    padding-bottom: 10px;

}

.my_prod_text {
    padding-right: 20px;

}

.product_img {
    !height: 400px;
    !width: 400px;
}

.custom_div {
    margin-bottom: 20px !important;
}