{% load staticfiles %}
<meta http-equiv="Cache-Control" content="no-store" />

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="width=100%">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 <a href="{% url 'shop:allprodcat' %}"><img src="{% static 'img/logo.jpg' %}" style="height: 70px; width: 70px" alt="LSBD">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown {% if 'shop' in request.path %}active{% endif %}">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Shop
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'shop:allprodcat' %}">All Product</a>
                {% for cat in links %}
                    <a class="dropdown-item" href="{{cat.get_url}}">{{cat.name}}</a>
                {% endfor %}
            </div>

            <!--{% if count > 0 %}-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="{% url 'shopping_cart:Itemcartdetails' %}"><i class="fas fa-shopping-cart"></i>({{ count }})</a>-->
                <!--</li>-->
            <!--{% endif %}-->
        </li>
    </ul>
    <div class="top-menu-bar">
        <ul>
            {% if request.user.is_authenticated and request.user.username %}
            <li>
                Signed is as: {{ request.user.username }}
            </li>
            <li>
                <a href="{% url 'logout' %}">Log out</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'signup' %}">Sign Up</a>
            </li>
            <li>
                <a href="{% url 'signin' %}">Sign In</a>
            </li>
            {% endif %}
        </ul>
    </div>

    <form class="form-inline my-2 my-lg-0" action="{% url 'searchengine_app:getresults' %}" method="GET">
        {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
    </form>
  </div>
</nav>

